@import "tailwindcss";

/* Load custom theme colors here */
@theme {

}

@font-face {
    font-family: 'Poppins';
    src:
        url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
        url('./assets/fonts/Poppins/Poppins-regular-webfont.woff') format('woff'),
        url('./assests/fonts/Poppins/Poppins-regular-webfont.woff2') format('woff2')
}

html,body {
    font-family: 'Poppins', Arial !important;
    font-size: 14px;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

body {
    margin:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}